body {
    background-color: #1e2439;
    width: 100%;
    height: 100%;
    margin: 0;
    /* font-family: "Palatino", serif; */
}

.title {
    text-align: left;
    font-weight: bold;
    font-size: 22px;
    color: white;
    margin-top: 30px;
}

.card-style {
    background-color: #f9fcfd;
    width: 22%;
    height: 120px;
    display: flex;
    align-content: stretch;
    padding: 0.3rem;
    background-size: cover;
}

.card1-image{
    background-image: url('product.png');
}

.card2-image{
    background-image: url('order.png');
}
.card3-image{
    background-image: url('channel.png');
}
.card4-image{
    background-image: url('fulfillment.png');
}
.card-title {
    text-align: left;
    font-weight: bold;
    font-style: italic;
    font-size: 30px;
    color: #f9fcfd;
    margin-left: 1rem;
    padding: 10px;
    width: 100%;
}

.card-cnt {
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    font-size: 60px;
    color: #f9fcfd;
    width: 100%;
    margin: auto;
}

.text-sec-style {
    background-color: #2e3858;
    padding: 1rem;
    height: 300px;
    width: 250px;
    align-items: stretch;
}

.text-title {
    font-weight: bold;
    font-size: 27px;
    text-align: center;
    margin: 0.5%;
    margin-bottom: 30px;
}

.text-body-style{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    align-content: space-evenly;
    height: 70%;
    text-align: center;
    font-weight: bold;
}

.text-body-font {
    font-size: 30px;
}